MC_HOST=mc.masedworld.net
MC_PORT=25565
MC_USERNAME=YourBotLogin
MC_PASSWORD=
MC_VERSION=1.12.2
MC_TARGET_SERVER_COMMAND=/s1
MC_JOIN_DELAY_MS=3000
MC_RECONNECT_DELAY_MS=10000

DISCORD_TOKEN=
DISCORD_CHANNEL_ID=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

TRACKED_PLAYERS_FILE=tracked_players.txt
RESTART_PLAYERS_FILE=restart_players.txt
